/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Configure font-friendly for all elements on the page */
.font-friendly {
  font-family:Montserrat,sans-serif;
}

/* Other fonts to configure (maybe in the future) */
/*.font-elegant *{font-family:Montserrat,sans-serif}.font-elegant .bold,.font-elegant .heading,.font-elegant .heading-lrg,.font-elegant .heading-sml{font-family:Spectral,serif}.font-friendly *{font-family:Montserrat,sans-serif}.font-hacker *{font-family:'Roboto Mono',monospace}.font-hacker .heading,.font-hacker .heading-lrg,.font-hacker .heading-sml{font-family:Roboto,sans-serif}.font-modern *{font-family:Poppins,sans-serif}.font-modern .heading,.font-modern .heading-lrg,.font-modern .heading-sml{font-weight:300}.font-neutral *{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"}.font-serious *{font-family:Montserrat,sans-serif}.font-serious .bold,.font-serious .heading,.font-serious .heading-lrg,.font-serious .heading-sml{font-family:Eczar,serif}* */

/* Logo */
a.logo {
  text-decoration: none;
}

/* Button links in navigation bar */
a.nav-button {
  text-decoration: none;
}

/* Make sure headers are bold (unlike in Bootstrap, where font-weight:500 */
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  font-weight:700;
}

/* For short bold texts on the page */
.bold-inline {
  font-weight:700;
}

/* Underline some text */
.underline {
  text-decoration: underline;
}

.clean-link {
  color:inherit;
  text-decoration:none;
}

/* Container sizes */
.container,.container-lrg,.container-sml {
  margin:auto;
  position:relative;
  width:100%
}
.container-lrg {
  max-width:1020px
}
.container {
  max-width:880px
}
.container-sml {
  max-width:470px
}
.section {
  padding:60px 0;
  overflow:hidden;
  position:relative
}

/* Testimonials */
.testimonial {
  min-height: 180px;
}

.testimonial cite {
  display: block;
  overflow: hidden;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1200px) {
  .testimonial {
    min-height: 220px;
  }
}

.testimonial__portrait {
  display: block;
  width: 25%;
  max-width: 50px;
  float: left;
}

.testimonial__portrait img {
  border-radius: 100%;
  width: 100%;
  height: auto;
}

.testimonial__details {
  display: block;
  width: 75%;
  padding-left: 15px;
  float: left;
  margin-top: 1rem;
}

.testimonial__details_he {
  display: block;
  width: 75%;
  padding-left: 15px;
  margin-top: 1rem;
}

.testimonial__name {
  font-style: normal;
}

.testimonial__source {
  font-style: normal;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.428571429;
  color: #777777;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}

.blockquote-reverse footer:before,
.blockquote-reverse small:before,
.blockquote-reverse .small:before,
blockquote.pull-right footer:before,
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
  content: '';
}

.blockquote-reverse footer:after,
.blockquote-reverse small:after,
.blockquote-reverse .small:after,
blockquote.pull-right footer:after,
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 320px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.pricing-plan .card-header {
  text-align: center;
}

.pricing-plan .card-title {
  text-align: center;
}

.pricing-plan .plan-contents i.fa.fa-check {
  color: #01d8fd;
  /* float: left; */
}

.pricing-plan .plan-contents i.fa.fa-times {
  color: #e76234;
  /* float: left; */
}

.pricing-plan li abbr a {
  color: #01d8fd;
}

.pricing-plan .plan-contents li {
  padding:5px 10px;
  font-size:15px;
  letter-spacing: -0.2px;
  border-bottom:1px solid #eee;
  line-height:1.5;
}

.pricing-plan button a {
  text-decoration: none;
}

.pricing-plan .card-item-text {
  padding-left: 5px;
}